<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}} %clr{%5p} %clr{${sys:PID}} %clr{---} %clr{[%15.15t]} %clr{%-40.40c{1.}} %clr{:} %m%n%xwEx</Property>
    </Properties>
    <Appenders>
        <Console name="stderr" target="SYSTEM_ERR" follow="true">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" />
            </Filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Console name="stdout" target="SYSTEM_OUT" follow="true">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="stderr"/>
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
